@page
@model ProjectPano.Pages._Admin.StoredProceduresModel
@{
}

@* <p>Record count: @Model.MyRegions?.Count ?? 0</p> *@
<h5 class="custom-h1">Run Stored Procedures</h5>

<br />
<br />

<a href="/_Admin/AdminHome">Admin Home</a>

<br />
<br />

<form method="post">
    <div class="d-flex align-items-center">
        <button type="submit" asp-page-handler="MakeNewProgressWeek" class="btn btn-danger">
            Make New Progress Week
        </button>
        <span class="ml-3">
            tbProjectProgress last updated for status as of:
            @Model.LastProgressWeekend?.ToString("MM/dd/yyyy")
        </span>
    </div>
</form>

<br />
<br />

<form method="post">
    <div class="d-flex align-items-center">
        <button type="submit" asp-page-handler="MakeNewDiscETC" class="btn btn-danger">
            Make NEW Disc ETC - Normal Jobs
        </button>
        <span class="ml-3">
            tbDiscEtc last updated for backlog jobs:
            @Model.LastDiscETCWkEndBacklog?.ToString("MM/dd/yyyy")
        </span>
    </div>
</form>

<br />
<br />

<form method="post">
    <div class="d-flex align-items-center">
        <button type="submit" asp-page-handler="MakeNewOppsETC" class="btn btn-danger">
            Copy Opportunities from last week to this week
        </button>
        <span class="ml-3">
            tbDiscEtc last updated for opportunities:
            @Model.LastDiscETCWkEndOpps?.ToString("MM/dd/yyyy")
        </span>
    </div>
</form>

<br />
<br />

<form method="post">
    <button type="submit" asp-page-handler="MakeNewDiscETCMapped" class="btn btn-danger">
        Make NEW Disc ETC - Mapped Jobs - Vital and Enduring
    </button>
</form>

<br/>

@* <form method="post">
    <button type="submit" asp-page-handler="UpdateDiscETC" class="btn btn-danger">
        Update ALL Disc ETC
    </button>
</form> *@

@if (TempData["SuccessMessage"] != null)
{
    <div id="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}




@section Scripts {
    <script>
        $(function () {
            var $alert = $("#successMessage");
            if ($alert.length) {
                setTimeout(function () {
                    $alert.fadeTo(500, 0).slideUp(500, function () {
                        $alert.alert('close');
                    });
                }, 2000);
            }
        });
    </script>
}




