@page 
@model ProjectPano.Pages.Deliverables.EditModel
@{
    ViewData["FullWidth"] = false;
    ViewData["Title"] = "Deliverable Edit";
}

@* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
@* <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> *@

<h1>Edit Deliverable</h1>

<form method="POST">
	<div class="row mb-3">
		<div class="col-sm-6">
			<input type="hidden" name="DeliverableID" value="@Model.Deliverable.DeliverableID" readonly />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Deliverable Name:</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="DelName" value="@Model.Deliverable.DelName" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Hours:</label>
		<div class="col-sm-6">
			<input type="number" step="0.01" class="form-control" name="DelHours" value="@Model.Deliverable.DelHours" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Cost:</label>
		<div class="col-sm-6">
			<input type="number" step="0.01" class="form-control" name="DelCost" value="@Model.Deliverable.DelCost" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Deliverable Comment:</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="DelComment" value="@Model.Deliverable.DelComment" />
		</div>
	</div>
		<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Plan Start Date:</label>
		<div class="col-sm-6">
			<input type="date" class="form-control" name="PlanStartDate"
				   value="@(Model.Deliverable.PlanStartDate?.ToString("yyyy-MM-dd") ?? "")" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Plan Finish Date:</label>
		<div class="col-sm-6">
			<input type="date" class="form-control" name="PlanFinishDate"
				   value="@(Model.Deliverable.PlanFinishDate?.ToString("yyyy-MM-dd") ?? "")" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Group 1:</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="DelGp1" value="@Model.Deliverable.DelGp1" />
		</div>
	</div>
		<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Group 2:</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="DelGp2" value="@Model.Deliverable.DelGp2" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Group 3:</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="DelGp3" value="@Model.Deliverable.DelGp3" />
		</div>
	</div>
		<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Group 4:</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="DelGp4" value="@Model.Deliverable.DelGp4" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Deliverable Number:</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="DelNum" value="@Model.Deliverable.DelNum" />
		</div>
	</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Deliverable Revision:</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="DelRev" value="@Model.Deliverable.DelRev" />
		</div>
	</div>

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 g-grid">
			<button type="submit" class="btn btn-success">
				<span class="glyphicon glyphicon-ok"></span>Submit
			</button> &nbsp;

			<a href="/Deliverables/Index" class="btn btn-danger">
				<span class="glyphicon glyphicon-remove"></span> Cancel
			</a>

		</div>
	</div>
</form>
